# SQL For IR/IE

## Setup

In [2]:
import sqlite3

In python, you can use the `sqlite` database as a simple, fixed file.
Here is how you can 'connect' to that file:

In [3]:
# con = sqlite3.connect('content/database.sqlite')

# conn.execute('''
# CREATE TABLE Departments (
#    Code INTEGER PRIMARY KEY NOT NULL,
#    Name NVARCHAR NOT NULL ,
#    Budget REAL NOT NULL
#  );''')

# conn.commit()

If you are usinf Google Colab, you can use its internal SQL instead:

In [ ]:
%load_ext sql

In [8]:
%%sql
sqlite:///demo.db

'Connected: @demo.db'

## Question-set #1

Refresh your memory:

- What is the syntax to create a new table?

- Which column types are you familiar with? Can you name at least 5?

---

- What is the syntax to query from a table?

- What is the syntax to approximate a string search (with wild cards)?

For example, given the following `posting` table:

| ID  | Post  |
| --- | ----- |
| 4   | pink  |
| 6   | ink   |
| 11  | drink |
| 13  | link  |
| 15  | minsk |
| 22  | sink  |
| 34  | think |
| 39  | sing  |

- How can you return posting ends with `ink`? 
- What about posting that starts with `s`?

- Given the `posting` table above, how would you return postings that start with `S` AND end with `k`?

---

Can't reacall? Here's a link to assist you:

https://sqlzoo.net/wiki/SQL_Tutorial

## Question-Set #2

MySQL // Sql Server // Oracle are all relational database management systems (RDBMS).

What does it mean?

- What is the syntax to enter new values (rows) into a table?

- How can one create relations between tables when creating a table? What do these relations mean? How can they be enforced?

- If a table has a relation to other tables, how would it affect the insertion process?

- How can one use these relations when performing a query? What is the syntax? What happens behind the scenes?

- What is the syntax to perform a boolean search?

Given this additional table:

| DocID | PostingID    | 
| ----- | ------------ |
| 1     | 4 |  
| 2     | 4 |

---

## Question-Set #3

Remember: Every query must preceed with a `%%sql` directive.

Here's how we can create a simple table, insert data to it, and query it:

In [ ]:
%%sql
create table sample(column_1 int, column_2 varchar);
insert into sample values (1,'abc'),(2,'abcd');
select * from sample;

 * sqlite:///demo.db
Done.
2 rows affected.
Done.

[(1, 'abc'), (2, 'abcd')]

**Your turn:**
Create an index table for _keywords_.

Include the following columns:

- Document ID (integer)
- Document title (text)
- document content (text)
- document URL (text) --> Optional
- Term posting list... ???

... Discuss: How should you create the term posting list?

Note: Always ensure your table(s) have a _primary key_ column.

In [ ]:
%%sql
## WRITE YOUR CODE HERE

 * sqlite:///demo.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: ## WRITE YOUR CODE HERE]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Question-set #4

Add a table to track the queries and their response (positive/negative).
It should include the following columns:

- ID (integer)
- query text (Text)
- query results (array of integers)
- query feedback (boolean)

What is the best way to represent the results?

In [ ]:
%%sql
## WRITE YOUR CODE HERE

## Question-set #5

If you have implemented the term-posting list as a column array, let's change it into separate tables. Our database should include the following columns:

- doc id (numeric)
- doc text (text)

- post term id (numeric)
- term (text)
- doc Id where the post term appears (numeric)
- start position (numeric)

In SQLite, we don't have an array column. Instead, we use table-rows as arrays.

- Try separating that task into different tables, representing the arrays. What would the table scheme look like?
- What would the context representation of the following docs and look like after you index and store them in your database:

| DocID | Text                                    |
| ----- | --------------------------------------- |
| 1     | `I like to drink pink ink`              |
| 2     | `I like to drink, and drink, and drink` |

- Write an SQL query searching for the documents that contains `drink` and `pink`.

In [ ]:
%%sql
## WRITE YOUR CODE HERE

## End-note

For additional riddles and to deepenth your SQL knowhow, try this online riddle website: https://www.hackerrank.com/domains/sql or this SQL murder mystery: https://mystery.knightlab.com/

Or if you want to dive deeper: https://advancedsqlpuzzles.com/